:root {
	--color-black: #14151d;
	--color-blackRGB: 20, 21, 29;
	--color-white: #fff;
	--color-lightgray: #b2b2b2;
	--color-gray: #1e1f27;
	--color-primary: #00cfa1;
	--color-secondary: #8786df;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	overflow: visible;
}

html,
body {
	font-family: 'Rubik Variable', sans-serif;
	margin: 0;
	color: var(--color-white);
	background-color: var(--color-black);
	scroll-behavior: smooth;
}

h1 {
	font-family: 'Sora Variable', sans-serif;
	font-size: 2rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}

h2 {
	font-family: 'Sora Variable', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 600;
}

h3 {
	font-family: 'Sora Variable', sans-serif;
	font-size: 1.25rem;
	line-height: 1.25rem;
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 400;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 300;
}

.markdown {
	overflow-wrap: break-word;
}

.markdown :is(a) {
	text-decoration: underline;
}

.markdown :is(a:hover) {
	color: var(--color-secondary);
	transition: all 0.3s ease-in-out;
}

.markdown :is(h1) {
	font-size: 2rem;
	line-height: 2rem;
	margin-bottom: 2rem;
}

.markdown :is(h2) {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: 1.5rem 0;
}

.markdown :is(h3) {
	font-size: 1.25rem;
	line-height: 1.25rem;
	font-weight: 700;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.markdown :is(h4) {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 500;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-family: 'IBM Plex Mono', sans-serif;
	text-transform: uppercase;
	/* letter-spacing: 1px; */
}

.markdown :is(li) {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 400;
	list-style: disc;
	list-style-position: inside;
}

.markdown :is(p) {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.markdown :is(img) {
	margin-bottom: 3rem;
	margin-top: 1rem;
}

.markdown :is(code) {
	font-size: 0.8rem;
	color: var(--color-primary);
	margin: 1rem 0rem;
	padding: 1rem;
	background-color: var(--color-gray);
	/* width: 100%; */
	display: block;
	border-radius: 12px;
	white-space: pre-wrap !important;
}

@media (min-width: 55em) {
	.markdown {
		width: 75%;
		margin: auto;
	}
}

@media (min-width: 60em) {
	.markdown {
		width: 60%;
		margin: auto;
	}
	h1 {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	h2 {
		font-size: 2.5rem;
		line-height: 3rem;
	}

	h3 {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	h4 {
		font-size: 2rem;
		line-height: 2.5rem;
		font-weight: 400;
	}

	p {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.9rem;
		font-weight: 400;
	}

	.markdown :is(p) {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 2rem;
		font-weight: 400;
	}

	.markdown :is(h1) {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 2rem;
	}

	.markdown :is(h2) {
		font-size: 3rem;
		line-height: 3rem;
	}

	.markdown :is(h3) {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.markdown :is(h4) {
		font-size: 1rem;
		line-height: 2rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
	}

	.markdown :is(code) {
		font-size: 1rem;
		margin: 1rem 0rem;
	}
}
