/* Write your global styles here, in PostCSS syntax */

@font-face {
	font-family: 'Archivo';
	src: local('Archivo'), local('Archivo'), local('Archivo'), local('Archivo'),
		url('/fonts/Archivo-VariableFont_wdth,wght.ttf');
}
@font-face {
	font-family: 'IBMPlexMono';
	src: local('IBMPlexMono'), local('IBMPlexMono'), local('IBMPlexMono'), local('IBMPlexMono'),
		url('/fonts/IBMPlexMono-Regular.ttf');
}

html,
body {
	font-family: 'Archivo';
	margin: 0;
}

h1 {
	font-size: 1.5rem /* 24px */;
	line-height: 2rem /* 32px */;
	font-weight: 700;
}

h2 {
	font-size: 1.25rem /* 20px */;
	line-height: 1.75rem /* 28px */;
	font-weight: 600;
}

h3 {
	font-size: 1rem /* 16px */;
	line-height: 1.5rem /* 24px */;
	font-weight: 600;
}

p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	font-size: 1rem /* 16px */;
	line-height: 1.5rem /* 24px */;
}

.layout {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3rem /* 48px */;
		line-height: 1;
	}

	h2 {
		font-size: 2.25rem /* 36px */;
		line-height: 2.5rem /* 40px */;
	}

	h3 {
		font-size: 1.5rem /* 24px */;
		line-height: 2rem /* 32px */;
		line-height: 1.25;
	}

	p {
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
	}
}
